rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /uploads/{fileName} {
      allow read: if request.auth != null;
      allow create, update: if request.auth != null
          && request.resource.size < 5 * 1024 * 1024
          && request.resource.contentType.matches('image/.*');
      allow delete: if request.auth != null;
    }
  }
}
